
@{
    ViewBag.Title = "Index";
}


<h1>New Boring Index</h1>
@Html.ActionLink("Create new", "Create")

<table class="table">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Department Location</th>
            <th>Department Added Date</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.departments) {
            <tr>
                <td>@item.DepartmentName</td>
                <td>@item.DepartmentLocation</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId })|
                @Html.ActionLink("Details", "Details", new { id = item.DepartmentId })|
                @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId })|
                </td>



            </tr>
        }
    </tbody>
</table>